<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      font-family: 'Times New Roman', Times, serif, sans-serif;
      display: flex;
      flex-direction: column;
      background: linear-gradient(to top, rgb(39, 39, 39), rgb(163, 163, 163));

    }
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  margin-bottom: 10rem;
  margin-top: 10rem;
  color: rgb(255, 255, 255);
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000;
}


    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      width: 50%;
      height: 50px;
      margin-left: 25%;
      font-size: 25px;
      justify-content: center;
    }

    button:hover {
      background-color: black;
      color: rgb(255, 255, 255);
      text-shadow: 
    -1px -1px 0 #00ff00,  
    1px -1px 0 #00ff00,  
    -1px 1px 0 #00ff00,  
    1px 1px 0 #00ff00;

    }
  </style>
</head>
<body>
  <h1>Bem-vindo ao Sistema de Provas</h1>
  <button onclick="window.location.href='/provas/criar'">Criar Prova</button>
  <button onclick="window.location.href='/provas/listar'">Listar Provas</button>
</body>
</html>
