<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Provas</title>
    <style>
            body, html {
      height: 100%;
      margin: 0;
      font-family: 'Times New Roman', Times, serif, sans-serif;
      display: flex;
      flex-direction: column;
      background: linear-gradient(to top, rgb(39, 39, 39), rgb(163, 163, 163));

    }
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  margin-bottom: 10rem;
  margin-top: 10rem;
  color: rgb(255, 255, 255);
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000;
}
ul {
  list-style-type: none; /* Remove os marcadores padrão */
  padding: 0; /* Remove o preenchimento padrão */
  text-align: center; /* Centraliza o texto dentro do ul */
}

li {
  margin: 13px 0; /* Espaçamento entre os itens da lista */
  color: white; /* Cor do texto da lista */
  font-size: 40px;
}

a {
            text-decoration: none; /* Remove sublinhado dos links */
            color: white;
        }

        a:hover {
            text-decoration: underline; /* Sublinha ao passar o mouse */
            color: black;
        }
    </style>
</head>

<body>
    <h1>Provas Salvas</h1>
    <ul>
        <% provas.forEach(prova=> { %>
            <li>
                <%= prova.nome %> -
                    <a href="/provas/<%= prova._id %>">Ver detalhes</a>
            </li>
            <% }) %>
    </ul>

</body>

</html>